@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: 'Open sans', Arial, Helvetica, sans-serif;
  --dark-mode: #0d0c1c;
  --text-dark-mode: #fff;
  --text: #ffffffa2;
  --dark-mode-shadow: hsl(244, 40%, 14%);
  --light-mode: #E0E7F5;
  --text-light-mode: #000;
  --dark-yellow: #2e260b;
  --yellow: #f1cb4b;
  --light-yellow: #faf3db;
  --dark-purple: #19072e;
  --purple: #4724f5;
  --light-purple: rgb(85, 51, 255);
  --dark-red: rgb(59, 4, 4);
  --red: rgb(202, 42, 42);
  --dark-red: rgb(160, 32, 32);
  --light-red: rgb(253, 224, 224);
  --dark-gray: #383838;
  --gray: #979797;
  --light-gray: #cdcdcd;
  --dark-pink: #33052c;
  --pink: #fa3ac5;
  --light-pink: #fad8f2;
  --container: #ececec0c;
  --shadow-out: 0 0 10px 5px;
  --transition: /* property */ .3s ease 0s;
}

body {
  font-family: var(--font);
  background-color: var(--dark-mode);
  color: var(--text-dark-mode);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, select {
  color: var(--text-dark-mode);
}